
@model Wedding

<div class="header">
    <h1>Plan Your Wedding</h1>
    <a href="/dashboard/@ViewBag.ID">Dashboard</a>
    <a href="logout">Log Out</a>
</div>
<div class="body">
    <div class="left">
        <div class="form">
            <form asp-action="ProcessWedding" asp-route-ID="@ViewBag.ID" method="POST">
                <span asp-validation-for="Name1"></span>
                <p><label for="name1">Wedder One</label>
                <input asp-for="Name1" id="name1" type="text"></p>
                <span asp-validation-for="Name2"></span>
                <p><label for="name2">Wedder Two</label>
                <input asp-for="Name2" id="name2" type="text"></p>
                <span asp-validation-for="Date"></span>
                <p><label for="date">Date</label>
                <input asp-for="Date" id="date" type="date"></p>
                <span asp-validation-for="Address"></span>
                <p><label for="address">Wedding Address</label>
                <input asp-for="Address" id="address" type="text"></p>
                <input class="btn btn-primary" type="Submit" value="Create">
            </form>
           
        </div>
    </div>
</div>
